<section>
	<div style="color: #ffffff; font-weight: bolder;" class="print" id="home">
	</div>

	<div class="container-fluid">
		<br>
		<p style="top: calc(50%); left: calc(50%)"><b>Moskom Kwik Stamp and Seal</b> is your number one source for quality Stamps and Embossing Seals.</p>
		<p>We make all varieties and types of : </p>
		<ul>
			<li>Rubber Stamps</li>
			<li>Pre-Inked Stamps</li>
			<li>Self-Inking Stamps</li>
			<li>Dater Stamps</li>
			<li>Multi-Color stamps</li>
			<li>Embossing Seals</li>
			<li>stamp pads and ink</li>
		</ul>
		<p>Our partner products are of the highest quality from major customized stamp manufactures who make major brands like Shiny, Trodat and Colop Stamps who have been making quality rubber stamps for the last several years.</p>
		<br>
		<p>In order to manufacture the highest quality custom made stamps we use a variety of technologies to suit your needs. We employ traditional polymer technology as well as the latest state of the Art Precision Laser technology depending on the type of the custom rubber stamp you order to ensure utmost level of customer satisfaction. We are well equipped to meet the need of our Stamp customers.</p>
		<br>
		<i>*24 hr turn-around time for al l orders placed before mid-day.</i>
		<br>

		<mat-tab-group mat-stretch-tabs>
		  <mat-tab label="Quick Stamp"> 
		    <ng-template mat-tab-label>
		      <img src="assets/images/stamp.jpg" class="img" style="height: 45px; width: auto;">  
		      <span>Quick Stamp</span>
		    </ng-template>
		    <div class="col-md-12 mb-5">
		      <label>Type</label><br>
		      <mat-radio-group
		        name="type">
		        <mat-radio-button value="Rubber Stamps">Rubber Stamps</mat-radio-button><br>
		        <mat-radio-button value="Pre-Inked Stamps">Pre-Inked Stamps</mat-radio-button><br>
		        <mat-radio-button value="Self-Inking Stamps">Self-Inking Stamps</mat-radio-button><br>
		        <mat-radio-button value="Dater Stamps">Dater Stamps</mat-radio-button><br>
		        <mat-radio-button value="Multi-Color stamps">Multi-Color stamps</mat-radio-button><br>
		        <mat-radio-button value="Stamp pads and ink">Stamp pads and ink</mat-radio-button><br>
		      </mat-radio-group>
		    </div>
				<mat-form-field class="col-md-12 mb-5">
				  <textarea
				  	placeholder="Content e.g Name, address..."
				  	matInput 
				  	required
				  	name="content"></textarea>
				</mat-form-field>
				<mat-form-field class="col-md-6 mb-5">
				  <input
				  	placeholder="Email"
				  	type="email"
				  	matInput 
				  	required
				  	name="email">
				</mat-form-field>
				<mat-form-field class="col-md-6 mb-5">
				  <input
				  	placeholder="Phone"
				  	type="email"
				  	matInput 
				  	required
				  	name="phone">
				</mat-form-field>
		  </mat-tab>

		  <mat-tab label="Quick Seal">
		    <ng-template mat-tab-label>
		      <img src="assets/images/seal.jpg" class="img" style="height: 45px; width: auto;">  
		      <span>Quick Seal</span>
		    </ng-template>
		    <div class="col-md-12 mb-5">
		      <label>Type</label><br>
		      <mat-radio-group
		        name="type">
		        <mat-radio-button value="Embossing Seals">Embossing Seals</mat-radio-button><br>
		        <mat-radio-button value="Pocket Seal">Pocket Seal</mat-radio-button><br>
		        <mat-radio-button value="Desktop Seal">Desktop Seal</mat-radio-button><br>
		      </mat-radio-group>
		    </div>
				<mat-form-field class="col-md-12 mb-5">
				  <textarea
				  	placeholder="Content e.g Name, address..."
				  	matInput 
				  	required
				  	name="content"></textarea>
				</mat-form-field>
				<mat-form-field class="col-md-6 mb-5">
				  <input
				  	placeholder="Email"
				  	type="email"
				  	matInput 
				  	required
				  	name="email">
				</mat-form-field>
				<mat-form-field class="col-md-6 mb-5">
				  <input
				  	placeholder="Phone"
				  	type="email"
				  	matInput 
				  	required
				  	name="phone">
				</mat-form-field>
		  </mat-tab>
		</mat-tab-group>
	</div>
</section>
