section{
	background-color: #bdd63b;
	/*min-height: 400px;*/
	align-items: center;
	color: #ffffff;
	width: 100%;
	padding: 8em 0;
}

.lg{
	width: 100%;
	height: auto;
	align-self: right;
	background-color: #ffffff;
	padding: 2em;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
	p{
		text-align: center;
	}
}

/* Small devices (portrait tablets and large phones, 577px and up) */
@media only screen and (min-width: 577px) {
	p{
		text-align: center;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	p{
		text-align: left;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	p{
		text-align: left;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	p{
		text-align: left;
	}
}