<section>
	<div class="container-fluid">
		<footer class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<img src="assets/images/logo.png" alt="Moskom logo" class="lg">
			</div>
			<br>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<p>
					Nairobi, Kenya<br/>
					PHONE: 07-- --- ---<br/>
					EMAIL: info@moskomventures.com
				</p>
			</div>

			<div class="col-md-12" style="margin-top: 1.5em;">
				<p style="text-align: center;">Moskom Ventures &copy; 2019. All Rights reserved.</p>
	    </div>
		</footer>
	</div>
</section>