<div class="container-fluid">
	<!-- <img style="height: calc(100%);width: calc(100%);" src="assets/images/image.jpeg" alt="Logo"> -->
	
	<!-- home section -->
	<div class="row jumbotron" id="home">
		<div class="col-md-12" style="color: #ffffff;">
			<span>Customer-centric,<br> quality-focused services<br></span>
			<br><br>
			<span>Providing universal support<br> and business intelligence for organisations</span>
			<br>
			<br>
		</div>
	</div>
	<!-- end home section -->

	<div class="row" id="about" style="background-color: #cecece; padding: 4em;">
		<h5 style="color: #5F6378;">
			<span class="d-flex justify-content-center"> About Us </span>
		</h5>

		<p>Established in 2012, we are a young and energetic creative hub driven by the need to offer quality products and top notch services to our clientele. Based in Nairobi, we serve clients across Kenya and beyond who operate in the various sectors of our robust economy.</p>
		<!-- <p>Our speciality is in multimedia design, print, branding and advertising</p> -->
		<p>At Moskom, we aim to provide two key values:</p>
		<ul>
			<li>Client Satisfaction</li>
			<li>Delivery of highest quality service</li>
		</ul>
		<p>Whether you are an individual seeking to build a brand or an existing company in need of a fresh new look, or if you simply want to promote your brand, <b>we are the company you should talk to</b></p>
		
		<h5 style="color: #5F6378;">
			<span class="d-flex justify-content-center">Why Choose Us ?</span>
		</h5>
		<img src="/assets/images/why_us.png" alt="Why Choose Us" style="width: calc(100%);">
	</div>

	<h5 style="color: #5F6378; margin-top: 1em;">
		<span class="d-flex justify-content-center">Services</span>
	</h5>
	<div class="row row5 row-eq-height" id="services">
    <div class="col-sm-6 col-md-4 mt-1">
      <mat-card style="background-color: #a3cc38;">
	      <!-- <img class="about_icons"  src="/assets/images/2-1.png"  alt="img"><br> -->
	      <h4 style="font-family: 'Montserrat', sans-serif; padding-bottom: 1.3em;">Printing</h4>
	      <mat-card-content>
					<p  style="font-size: 1em;">
						Printing technology has evolved over the years and we have not been left behind. Existing in various mediums, we provide print services in Digital printing(Short-Run), Litho/Offset Printing(High Volume), Large Format Printing(Signages), UV/Flatbed Printing, Custom Printing and Screen Printing<br>
					</p>
					<div class="d-flex justify-content-center">
						<a href="#/printing" target="_blank">
							<button mat-raised-button>
								View
							</button>
						</a>
					</div>
	      </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 mt-1">
      <mat-card style="background: #b5d333;">
				<!-- <img class="about_icons"  src="/assets/images/2-2.png"  alt="img"><br> -->
				<h4 style="font-family: 'Montserrat', sans-serif; padding-bottom: 1.3em;">Branding</h4>
				<mat-card-content>
					<p style="font-size: 1em;">
						We have the best selection of Promotional and Corporate Gifts available in our catalogues.Promotional gifts have become far more than just a growing trend in event marketing or just a tool for brand awareness. Your products can be Screen Printed, Pad printed and engraved with your Company Logo<br>
					</p>
					<div class="d-flex justify-content-center">
						<a href="#/printing" target="_blank">
							<button mat-raised-button>
								View
							</button>
						</a>
					</div>
	      </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 mt-1">
       <mat-card style="background: #d1dd25;">
	      <!-- <img class="about_icons"  src="/assets/images/2-3.png"  alt="img"><br>		 -->
	      <h4 style="font-family: 'Montserrat', sans-serif; padding-bottom: 0.3em;">Kwik Stamp & Seal</h4>
				<mat-card-content>
	         <br>
	         <p style="font-size: 1em;">
	            Moskom Kwik Stamp and Seal is your number one source for quality Stamps and Embossing Seals. Our partner products are of the highest quality from major customized stamp manufactures who make major brands like Shiny, Trodat and Color Stamps who have been making quality rubber stamps for the last several years.
	         </p>
					<div class="d-flex justify-content-center">
						<a href="#/quick" target="_blank">
							<button mat-raised-button>
								View
							</button>
						</a>
					</div>
				</mat-card-content>
			</mat-card>
    </div>
    <div class="col-sm-6 col-md-4 mt-1">
       <mat-card style="background: #d1dd25;">
	      <h4 style="font-family: 'Montserrat', sans-serif; padding-bottom: 1.3em;">Electronic Document Management System (eDMS)</h4>
				<mat-card-content>
	         <p style="font-size: 1em;">
	            Our electronic document management system gives you the ability to leverage it across multiple business departments with its out-of-the box application connectors and support for various Industry Standards.
	         </p>
					<!-- <div class="d-flex justify-content-center">
						<a href="#/printing" target="_blank">
							<button mat-raised-button>
								View
							</button>
						</a>
					</div> -->
				</mat-card-content>
			</mat-card>
    </div>
    <div class="col-sm-6 col-md-4 mt-1">
       <mat-card style="background: #a3cc38;">
	      <h4 style="font-family: 'Montserrat', sans-serif; padding-bottom: 1.3em;">Queue management system (QMS)</h4>
				<mat-card-content>
	         <p style="font-size: 1em;">
	            Queue Management has become a popular innovative technology for organizing crowded waiting areas, and augmenting operational processes using real time data analytics
	         </p>
					<!-- <div class="d-flex justify-content-center">
						<a href="#/printing" target="_blank">
							<button mat-raised-button>
								View
							</button>
						</a>
					</div> -->
				</mat-card-content>
			</mat-card>
    </div>
    <div class="col-sm-6 col-md-4 mt-1">
       <mat-card style="background: #b5d333;">
	      <!-- <img class="about_icons"  src="/assets/images/2-3.png"  alt="img"><br>		 -->
	      <h4 style="font-family: 'Montserrat', sans-serif; padding-bottom: 0.3em;">Office Supplies</h4>
				<mat-card-content>
	         <br>
	         <p style="font-size: 1em;">
	            At Moskom we supply and deliver your office/organisation with quality office stationery and
							computer related accessories. We ensure that the products we supply comply to your
							organisational standards and that they are of good quality.
	         </p>
					 <!-- <p>
					 	The products we supply include but not limited to: Photocopy paper, Manilla envelopes, Name
						card holders, Lanyards, Box files, PVC spring files, Stapler and staple pins, File divider, Waste
						bin, Document folder, Display book, Report cover, Pins and clips, Page markers, Storage
						cabinets, Thermal paper, Print toners & cartridges.
					 </p> -->
					<!-- <div class="d-flex justify-content-center">
						<a href="#/quick" target="_blank">
							<button mat-raised-button>
								View
							</button>
						</a>
					</div> -->
				</mat-card-content>
			</mat-card>
    </div>
  </div>

	<h5 style="color: #5F6378;">
		<span class="d-flex justify-content-center">Our Clients</span>
	</h5>
	<div class="row" id="clients" style="margin-top: 75px; min-height: 80vh;">
		<!-- <img src="assets/images/clients.png" alt="clients" style="height: calc(100%); width: calc(100%);"> -->
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/3d africa.png" alt="3d africa.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/bolt.png" alt="bolt.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/cjgea.png" alt="cjgea.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/gigi.png" alt="gigi.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/goteksi.png" alt="goteksi.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/illuminum.jpg" alt="illuminum.jpg" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/kito.png" alt="kito.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/m&a advocates.png" alt="m&a advocates.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/mentor.png" alt="mentor.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/nea.png" alt="nea.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/pemura.png" alt="pemura.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/tbl.png" alt="tbl.png" style="height: calc(100%); width: calc(100%);"></div>
		<div class="col-12 col-xs-6 col-sm-4 col-md-4"><img src="assets/images/total herbs.png" alt="total herbs.png" style="height: calc(100%); width: calc(100%);"></div>
	</div>
	<!-- <div class="row" id="quote" style="margin-top: 75px; min-height: 80vh;">
		quote
	</div> -->
	<div class="row" id="contact" style="background-color: #E8E8ED;">
		<div  class="container" style="padding-top: 2%; padding-bottom:5%; float: center;">
 			<div style="margin-top: 1.0em;">
			  <h5>
					<span class="d-flex justify-content-center" style="color: #5F6378;"> Contact us </span>
			  </h5>
   			<div class="container" style="text-align: left">
					<form #sendContact="ngForm" style="padding-top: 5%;">
				    <div class="row">
					  	<div class="col-md-12">
						    <textarea 
						    	matInput 
						    	name="message" 
						    	[(ngModel)]="contact.message" 
						    	placeholder="Message..." 
						    	style="background-color: #ffffff; height: 125px;padding: 1em;"></textarea>
							</div>
						</div>
						<br/>
	   				<div class="row">
				    	<div class="col-md-4">
			      		<textarea 
			      			matInput 
			      			matTextareaAutosize 
			      			matAutosizeMinRows="2" 
			      			matAutosizeMaxRows="5" 
			      			name="subject" 
			      			[(ngModel)]="contact.subject" 
			      			placeholder="Subject" 
			      			style="background-color: #ffffff; padding: 0.6em;height: 125px;"></textarea>
							</div>
							<br/>
					   	<div class="col-md-4">
					    	<textarea 
					    		matInput 
					    		matTextareaAutosize 
					    		matAutosizeMinRows="2" 
					    		matAutosizeMaxRows="5" 
					    		name="from_email" 
					    		[(ngModel)]="contact.from_email"  
					    		placeholder="Email" 
					    		required
					    		style="background-color: #ffffff; padding: 0.6em;height: 125px;"></textarea>
							</div>
							<br/>
							<div class="col-md-4">
					   	 	<button 
					   	 		mat-raised-button
					   	 		[disabled]="sendContact.invalid"
					   	 		(click)="sendContact();"
					   	 		style="height: 100%; color: #ffffff; background-color: #bdd63b; width: 100%;"> SEND </button> 	
							</div>
				    </div>
			   	 	<div hidden>
			   	 		<mat-form-field>
				   	 		<input matInput type="" name="">
				     	</mat-form-field> 
			   	 	</div> 	
	   			</form>
   			</div>
			</div>
		</div>
	</div>
</div>
