a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
  display: inline-block;
  padding-left: 6px;
}

.list {
  display: inline-block;
	text-decoration: none;
	color: #fbb301;
}
.list:hover, .list:active{
	color: #bdd63b;
}
