<mat-nav-list *ngIf="homeNav">
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
  	<span class="list"><img src="/assets/images/logo.png" style="height: 50px;"></span>
  </a>
  <a mat-list-item routerLink="/home" fragment="home" (click)="onSidenavClose()">
  	<span class="list">Home</span>
  </a>
  <a mat-list-item routerLink="/home" fragment="about" (click)="onSidenavClose()">
    <span class="list">About Us</span>
  </a>
  <!-- <a mat-list-item [matMenuTriggerFor]="service_list"> -->
  <a mat-list-item routerLink="/home" fragment="services" (click)="onSidenavClose()">
  	<span class="list">Services</span>
  </a>
  <a mat-list-item routerLink="/home" fragment="clients" (click)="onSidenavClose()">
  	<span class="list">Clients</span>
  </a>
  <a mat-list-item routerLink="/home" fragment="contact" (click)="onSidenavClose()">
  	<span class="list">Contact Us</span>
  </a>
  <mat-menu #service_list="matMenu">
    <a mat-menu-item routerLink="/home" fragment="services" (click)="onSidenavClose()"><span class="list">Printing</span></a>
    <a mat-menu-item routerLink="/home" fragment="services" (click)="onSidenavClose()"><span class="list">Branding</span></a>
    <a mat-menu-item [matMenuTriggerFor]="ict"><span class="list">ICT Solutions</span></a>
  </mat-menu>
  <mat-menu #ict="matMenu">
    <a mat-menu-item routerLink="#" (click)="onSidenavClose()"><span class="list">Contact Center</span></a>
    <a mat-menu-item routerLink="#" (click)="onSidenavClose()"><span class="list">Hardware Components</span></a>
    <a mat-menu-item routerLink="#" (click)="onSidenavClose()"><span class="list">Electronic Document Management System</span></a>
    <a mat-menu-item [matMenuTriggerFor]="web"><span class="list">Web Solutions</span></a>
  </mat-menu>
  <mat-menu #web="matMenu">
    <a mat-menu-item routerLink="#" (click)="onSidenavClose()"><span class="list">Web Hosting</span></a>
    <a mat-menu-item routerLink="#" (click)="onSidenavClose()"><span class="list">Web App Development</span></a>
    <a mat-menu-item routerLink="#" (click)="onSidenavClose()"><span class="list">Web Design</span></a>
  </mat-menu>
</mat-nav-list>

<mat-nav-list *ngIf="printingNav">
  <a mat-list-item routerLink="/printing" (click)="onSidenavClose()">
    <span class="list"><img src="/assets/images/logo.png" style="height: 50px;"></span>
  </a>
  <a mat-list-item routerLink="/printing" (click)="onSidenavClose()">
    <span class="list">Home</span>
  </a>
  <!-- <a mat-list-item [matMenuTriggerFor]="service_list"> -->
  <a mat-list-item routerLink="/printing" fragment="services" (click)="onSidenavClose()">
    <span class="list">Services</span>
  </a>
  <a mat-list-item routerLink="/printing" fragment="contact" (click)="onSidenavClose()">
    <span class="list">Contact Us</span>
  </a>
  <mat-menu #service_list="matMenu">
    <a mat-menu-item routerLink="/home" fragment="services" (click)="onSidenavClose()"><span class="list">Printing</span></a>
    <a mat-menu-item routerLink="/home" fragment="services" (click)="onSidenavClose()"><span class="list">Branding</span></a>
  </mat-menu>
</mat-nav-list>
