<div class="container-fluid">
	<div class="row d-flex justify-content-center m-5">
		<h3> Define your Business Card </h3>
	</div>
	<form class="row m-5">
		<mat-form-field class="col-md-6 mb-5">
		  <mat-select
		  	placeholder="Size"
		  	name="size"
		  	style="font-size: 0.8em;">
		    <mat-option value="8.5cm by 5.5cm">8.5cm by 5.5cm</mat-option>
		    <mat-option value="9cm by 5cm">9cm by 5cm</mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6 mb-5">
		  <mat-select
		  	placeholder="Paper type"
		  	name="paper_type"
		  	style="font-size: 0.8em;">
		    <mat-option value="300gsm Ivory Brand">300gsm Ivory Brand</mat-option>
		    <mat-option value="350gsm Art Mat">350gsm Art Mat</mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6 mb-5">
		  <mat-select
		  	placeholder="Sides"
		  	name="sides"
		  	style="font-size: 0.8em;">
		    <mat-option value="Single Sided">Single Sided</mat-option>
		    <mat-option value="Double Sided">Double Sided</mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6 mb-5">
		  <mat-select
		  	placeholder="Lamination"
		  	name="lamination"
		  	style="font-size: 0.8em;">
		    <mat-option value="Double Sided - Gloss">Double Sided - Gloss</mat-option>
		    <mat-option value="Double Sided - Matt">Double Sided - Matt</mat-option>
		    <mat-option value="None">None</mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field class="col-md-6 mb-5">
		  <mat-select
		  	placeholder="Quantity"
		  	name="quantity"
		  	style="font-size: 0.8em;">
		    <mat-option value="1000">1000</mat-option>
		    <mat-option value="500">500</mat-option>
		    <mat-option value="400">400</mat-option>
		    <mat-option value="300">300</mat-option>
		    <mat-option value="200">200</mat-option>
		    <mat-option value="100">100</mat-option>
		  </mat-select>
		</mat-form-field>
    <div class="col-md-6 mb-5">
      <label>Have Artworks to work with ?</label><br>
      <mat-radio-group
        name="have_art_work">
        <mat-radio-button value="1">Yes</mat-radio-button>
        &nbsp;
        <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
    </div>
		<div class="col-md-6 mb-5">
		  <input style="background-color: #cccccc; padding: 0.6em; width: 100%;"
		  	type="file" 
		  	(change)="onFileChange($event)" 
		  	#fileInput 
		  	required
		  	id="file">
		</div>

		<mat-form-field class="col-md-6 mb-5">
		  <input
		  	placeholder="Email"
		  	type="email"
		  	matInput 
		  	required
		  	name="email">
		</mat-form-field>
		<mat-form-field class="col-md-6 mb-5">
		  <input
		  	placeholder="Phone"
		  	type="email"
		  	matInput 
		  	required
		  	name="phone">
		</mat-form-field>

	</form>
</div>