:host {
  position: fixed;
  top: 0;
  width: 100%;
}
.list {
	text-decoration: none;
	color: #fbb301;
	font-family: 'Montserrat';
	font-weight: 1000;
}
.list:hover, .list:active{
	color: #bdd63b;
}

a {
	text-decoration: none;
	color: #fbb301;
}
a:hover, a:active{
	color: #bdd63b;
}

.navigation-items{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

mat-toolbar{
	border-radius: 3px;
}

@media(max-width: 959px){
	mat-toolbar{
		border-radius: 0px;
	}
}