<mat-toolbar style="background-color: #ffffff;" *ngIf="homeNav">
  <div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
		  <mat-icon>menu</mat-icon>
		</button>
  </div>
  <div style="height: calc(100%);">
		<a scrollTo href="#home"><img src="/assets/images/logo.png" style="height: calc(100%);"></a>
  </div>
  <div style="flex: 1 1 auto;"></div>
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
		<mat-nav-list fxLayout>
		  <a mat-list-item scrollTo href="#home">
		  	<span class="list">Home</span>
		  </a>
		  <a 
		  	mat-list-item 
				scrollTo 
				href="#about">
		  	<span class="list">About Us</span>
		  </a>
		  <a 
		  	mat-list-item 
				scrollTo 
				href="#services">
		  	<!-- [matMenuTriggerFor]="services" -->
		  	<span class="list">Services</span>
		  </a>
		  <a 
		  	mat-list-item scrollTo href="#clients">
		  	<span class="list">Clients</span>
		  </a>
		  <!-- <a mat-list-item scrollTo href="#quote">
		  	<span class="list">Get a quote</span>
		  </a> -->
		  <a mat-list-item scrollTo href="#contact">
		  	<span class="list">Contact Us</span>
		  </a>
		  <mat-menu #services="matMenu">
		    <a mat-menu-item routerLink="#"><span class="list">Printing</span></a>
		    <a mat-menu-item routerLink="#"><span class="list">Branding</span></a>
		    <a mat-menu-item routerLink="#" [matMenuTriggerFor]="ict"><span class="list">ICT Solutions</span></a>
		  </mat-menu>

		  <mat-menu #ict="matMenu">
		    <a mat-menu-item routerLink="#"><span class="list">Contact Center</span></a>
		    <a mat-menu-item routerLink="#"><span class="list">Hardware Components</span></a>
		    <a mat-menu-item routerLink="#"><span class="list">Electronic Document Management System</span></a>
		    <a mat-menu-item routerLink="#" [matMenuTriggerFor]="web"><span class="list">Web Solutions</span></a>
		  </mat-menu>

		  <mat-menu #web="matMenu">
		    <a mat-menu-item routerLink="#"><span class="list">Web Hosting</span></a>
		    <a mat-menu-item routerLink="#"><span class="list">Web App Development</span></a>
		    <a mat-menu-item routerLink="#"><span class="list">Web Design</span></a>
		  </mat-menu>
		</mat-nav-list>
  </div>
</mat-toolbar>

<mat-toolbar style="background-color: #ffffff;" *ngIf="printingNav">
  <div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
		  <mat-icon>menu</mat-icon>
		</button>
  </div>
  <div style="height: calc(100%);">
		<a href="#/home" target="_blank"><img src="/assets/images/logo.png" style="height: calc(100%);"></a>
  </div>
  <div style="flex: 1 1 auto;"></div>
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
		<mat-nav-list fxLayout>
		  <a mat-list-item routerLink="/printing" fragment="home">
		  	<span class="list">Home</span>
		  </a>
		  <a 
		  	mat-list-item 
				href="#/printing" fragment="services">
		  	<span class="list">Services</span>
		  </a>
		  <mat-menu #services="matMenu">
		    <a mat-menu-item routerLink="#"><span class="list">Printing</span></a>
		    <a mat-menu-item routerLink="#"><span class="list">Branding</span></a>
		  </mat-menu>
		</mat-nav-list>
  </div>
</mat-toolbar>
