<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-sticky-header (sidenavToggle)="sidenav.toggle()"></app-sticky-header>
      <main style="min-height: 100vh;" style="padding-top: 75px;">
        <router-outlet></router-outlet>
      </main>
      <div class="fb-customerchat"
        page_id="1120504671439104"
        theme_color="#e3e3e"
        logged_in_greeting="<GREETING_MESSAGE_FOR_LOGGED_IN_USERS>"
        logged_out_greeting="<GREETING_MESSAGE_FOR_LOGGED_OUT_USERS>">
        lol
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>