<div class="container-fluid">
	<div class="row row-eq-height centered">
		<div class="col-md-12">
			<div class="float-right">
				<mat-icon (click)="closeDialog();" style="cursor: pointer;">close</mat-icon>
			</div>
		</div>
		<div class="col-md-6">
			<img src="static/assets/images/tbbl.png" class="img" style="max-width: calc(100%); max-height: auto;">
		</div>
		<div class="col-md-6">
			<div class="row row-eq-height" style="height: calc(100%);">
				<div class="col-md-12"></div>
				<div class="col-md-12">
					<form #loginForm="ngForm" *ngIf="login">
						<div class="row"> 
							<mat-form-field class="col-md-12">
								<input 
									required 
									matInput 
									placeholder="Username or email" 
									[(ngModel)]="post_user.username" 
									name="username">
							</mat-form-field>
							<mat-form-field class="col-md-12">
								<input 
									required
									type="password" 
									matInput 
									placeholder="Password" 
									[(ngModel)]="post_user.password" 
									name="password">
							</mat-form-field>
							<div class="col-md-12">
								<button [disabled]="loginForm.invalid" mat-raised-button (click)="loginUser();" style="color: #442704;">Login >></button>
								&nbsp;&nbsp; <u (click)="resetView();" style="cursor: pointer;"><small>Forgot Password?</small></u>
							</div>
						</div>
					</form>
					<form #resetForm="ngForm"  *ngIf="reset">
						<div class="row"> 
							<mat-form-field class="col-md-12">
								<input 
									required 
									type="email" 
									matInput 
									placeholder="Enter your email address" 
									[(ngModel)]="reset_pass.email" 
									name="email">
							</mat-form-field>
							<div class="col-md-12">
								<button [disabled]="resetForm.invalid" mat-raised-button (click)="resetPassword();" style="color: #442704;">Reset Password >></button>
								&nbsp;&nbsp; <u (click)="loginView();" style="cursor: pointer;"><small>Login</small></u>
								<br>
								<small *ngIf="pass_error_message">{{pass_error_message}}</small>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-12"></div>
			</div>
		</div>
	</div>
</div>
