.print{
	align-items: left;
	background-image: url('/assets/images/print.jpeg');
	/*height: 200px; */
	width: 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 0% !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	min-height: 550px;
}
.row5{
	padding: 50px 20px;
	color: #5F6378;
	text-align: center;
}
.row5>h2{
	padding-bottom: 20px;
}
.row5>div>div>span>img{
	max-width: 50px;
}