@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html{
  scroll-behavior: smooth;
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: 'Montserrat';
}
:host {
  background: rgba(0, 0, 0, 0.1);
}

app-sticky-header {
  z-index: 1000;
  box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2rem;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-top: 75px;
  position: relative;
  text-align: center;
}

.centered {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

mat-card{
  height: calc(100%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}